<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Page Content -->
    <div>
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-12">
                <!-- Blog Post -->
                <!-- Title -->
                <h2><%= @blog.title %></h2>

                <% if admin_user? %>
                  <%= link_to 'Edit', edit_blog_path(@blog) %>
                  <%= link_to 'Delete', @blog, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> <%= @blog.updated_at.strftime("Posted on %B %d, %Y") %></p>
                <hr>
                <!-- Preview Image -->
                <% @blog.images.each do |image| %>
                  <div style="box-shadow: -10px 10px 10px #555555;">
                    <%= image_tag(image.name, class: 'img-responsive') %>
                  </div>
                  <br><hr><br>
                <% end %>
                <hr>
                <!-- Post Content -->
                <p><%= @blog.body %></p>
                <hr>
                <!-- Blog Comments -->
                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment</h4>
                    <%= form_for :comment, url: "#{@blog.id}/comments" do |f| %>
                      Your Name: <%= f.text_field :commenter %>
                      <br><br>
                      <%= f.text_area :body, size: "35x3" %>
                      <br><br>
                      <%= f.submit "Submit", class: "btn btn-primary" %>
                    <% end %>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <% @comments.each do |comment| %>
                  <div class="media">
                      <!-- <a class="pull-left" href="#">
                          <img class="media-object" src="http://placehold.it/64x64" alt="">
                      </a> -->
                      <div class="media-body">
                          <h4 class="media-heading"><%= comment.commenter %>
                            <small><%= comment.updated_at.strftime("%B %d, %Y") %></small>
                          </h4>
                          <% if admin_user? %>
                            <small><%= link_to 'Delete', blog_comment_path(@blog, comment), data: { confirm: 'Are you sure?' }, method: :delete %></small>
                            <br>
                          <% end %>
                          <%= comment.body %>
                      </div>
                  </div>
                  <hr>
                <% end %>

                <!-- Comment
                <div class="media">
                    <a class="pull-left" href="#">
                        <!-- <img class="media-object" src="http://placehold.it/64x64" alt="">
                        <%= image_tag("http://placehold.it/64x64") %>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <!-- Nested Comment
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Nested Start Bootstrap
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <!-- End Nested Comment
                    </div>
                </div>-->

            </div>

        </div>
        <!-- /.row -->

        <hr>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <!-- <script src="js/jquery.js"></script> -->
    <% javascript_include_tag "jquery.js" %>

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <% javascript_include_tag "bootstrap.min.js" %>

</body>

</html>
